<html>
    <body>
        <h2><%= username %>'s Message</h2>
        <a href="/">
            <button class="returnBtn">Return</button>
        </a>
        <div class="message-box">
            <p>Time posted: <%= message.added %></p>
            <p>Message: <%= message.text %></p>
        </div>
    </body>
</html>